*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: arial;
    font-size: 20px;
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#header_section{
    border-bottom: 2px solid #ddd;
}
.header-content{
    width:900px;
    margin: 0px auto;
    text-align: center;
}
.title_header{
    color:#105582;
    font-size: 30px;
    font-weight: 600;
    padding: 15px 0;
}
#container > h1{
    margin:10px 0;
    color:#105582;
}
#login{
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 0px auto;
    
}
#login > label, 
#login > input{
    display: block;
    margin: 0px auto;
    text-align: center;
    color:#212529;
    opacity: 0.9;
    padding: 4px 8px;
    font-size: 20px;   
    box-sizing: border-box;  
}

#login > label{
    margin:15px 0 5px;
}

#login > input[type=submit]{
    margin: 10px auto;
    display: block;
    font-size: 20px;  
    background-color: #007BFF;
    border-radius: 5px;
    border: none;
    color: #fff;
    box-sizing: border-box;
}