*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: arial;
    font-size: 20px;
}

#container{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
}
.error_diem{
    -webkit-text-fill-color: red;
}
.header-content{
    width:900px;
    margin: 0px auto;
    text-align: center;
}
.title_header{
    color:#105582;
    font-size: 30px;
    font-weight: 600;
    padding: 15px 0;
}
#container > h1{
    margin:10px 0;
    color:#105582;
}
#login{
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 0px auto;
    
}
#login > label, 
#login > input{
    display: block;
    margin: 0px auto;
    text-align: center;
    color:#212529;
    opacity: 0.9;
    padding: 4px 8px;
    font-size: 20px;   
    box-sizing: border-box;  
}

#login > label{
    margin:15px 0 5px;
}

#login > input[type=submit]{
    margin: 10px auto;
    display: block;
    font-size: 20px;  
    background-color: #007BFF;
    border-radius: 5px;
    border: none;
    color: #fff;
    box-sizing: border-box;
}

#form_chamdiem{
    width:1006px;   
}
.thongbao_submit{
    text-align: right;
    margin-top:10px;
    font-style: italic;
    color: red;
    padding-right: 10px;
}

.btn-submit{
    display: block;
    padding:12px 32px;
    color:#fff;
    font-size: 20px;
    background-color: #156da7;
    border: none;
    border-radius: 5px;
    margin: 10px 0 50px;
    float: right;
}

.error{
    color:red;
    text-align: center;
    font-style: italic;
    margin:10px 0;
}